DB_URL=jdbc:postgresql://localhost:5432/library_management_system
DB_USERNAME=postgres
DB_PASSWORD=your_password_here
JWT_SECRET_KEY=your_base64_secret_key_here #Write a BASE64-coded secret key here! Generate with: openssl rand -base64 32
REDIS_HOST=localhost
REDIS_PORT=6379
